name: api-trigger

on:
  workflow_dispatch:
    inputs:
      emailTo:
        description: 'email to address'
        required: true
        default: 'himanshuspykid96@gmail.com'
      from:
        description: 'email from'
        required: false
        default: 'Nuclei'
      name:
        description: 'Person to greet'
        required: true
        default: 'Himanshu'
      home:
        description: 'location'
        required: false
        default: 'Nuclei'

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Hello $!"
        echo "- in $!"    
    - name: 'Sending SMS Notification'
      uses: twilio-labs/actions-sms@v1
      with:
        fromPhoneNumber: "7204589985"
        toPhoneNumber: '9790057330'
        message: 'Hello from Twilio'
      env:
        TWILIO_ACCOUNT_SID: SK52011707e521eafbfb383946c16a5513
        TWILIO_API_KEY: a78bafd9ce63d69182569e5d1151da64
        TWILIO_API_SECRET: pvrCWetekU9kJIxM3bLRdcUWXdNbugc8
    - name: Send mail
      uses: dawidd6/action-send-mail@v3
      with:
        # Required mail server address:
        server_address: smtp.gmail.com
        # Required mail server port:
        server_port: 465
        # Optional (recommended): mail server username:
        username: ${{secrets.MAIL_USERNAME}}
        # Optional (recommended) mail server password:
        password: ${{secrets.MAIL_PASSWORD}}
        # Required mail subject:
        subject: Github Actions job result
        # Required recipients' addresses:
        to: ${{ github.event.inputs.emailTo }}
        # Required sender full name (address can be skipped):
        from: ${{ github.event.inputs.from }} # <user@example.com>
        # Optional whether this connection use TLS (default is true if server_port is 465)
        secure: true
        # Optional plain body:
        body: blah blah
        html_body: <?xml version="1.0"?><!DOCTYPE html><html><body><p>Download Nuclei Sample App From <a href="https://www.w3schools.com">here</a></p></body></html>
        #html_body: file://email_template.html

        # Optional HTML body read from file:
        #html_body: file://README.html
        # Optional carbon copy recipients:
        #cc: kyloren@example.com,leia@example.com
        # Optional blind carbon copy recipients:
        #bcc: r2d2@example.com,hansolo@example.com
        # Optional recipient of the email response:
        reply_to: ${{ github.event.inputs.from }}
        # Optional unsigned/invalid certificates allowance:
        ignore_cert: true
        # Optional converting Markdown to HTML (set content_type to text/html too):
        convert_markdown: true
        #content_type: text/html
        # Optional attachments:
        #attachments: attachments.zip,git.diff,./dist/static/*.js
        # Optional priority: 'high', 'normal' (default) or 'low'
        priority: high
    - run: |
        echo Did this work
  

  
    
