name: api-trigger

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Person to greet'
        required: true
        default: 'Himanshu'
      home:
        description: 'location'
        required: false
        default: 'Nuclei'

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Hello $!"
        echo "- in $!"    
    - name: Send mailer
      # You may pin to the exact commit or the version.
      # uses: devellany/send-mail@45dbe31722b9c29635bc9d60315d420218093c56
      uses: devellany/send-mail@v1.0.2
      with:
       host: smtp.google.com
       account: ${{secrets.MAIL_USERNAME}}
       password: ${{secrets.MAIL_PASSWORD}}
       sender: devellany
       from: ${{secrets.MAIL_USERNAME}}
       to: himanshu.singh@gmail.com
       subject: mail title.
       body: this is a test mail
       contentType: text/plain
       #attachments: file://attachmets.json
    - run: |
        echo Did this work
  

  
    
